{% extends "orders/layout.html" %}

{% block title %}Cart{% endblock %}
{% load staticfiles %}
{% block body %}
	<nav class="navbar navbar-expand-lg">
		<h3 class="navbar-brand">Your Pizza Place</h3>
		<div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'index' %}">Home</a>
		      </li>
		    </ul>
		</div>
	</nav>
	<div class="container" id="cartdiv1">
		{% if orders %}
			<h2>Your Cart</h2>
			<table class="table table-striped" id="ordertable">
				<thead>
					<th scope="col">Order</th>
					<th scope="col">Size</th>
					<th scope="col">Quantity</th>
					<th scope="col">Amount</th>
				</thead>
				<tbody>
					{% for order in orders %}
						{% if order.item1 %}
							<tr class="row{{order.id}}">
								<td>{{order.item}}</td>
								<td>
									{{order.item1}}
								</td>
								<td>{{order.quantity1}}</td>
								<td>{{order.price}}</td>
								<td><button data-id="{{order.id}}" class="btn btn-light removeorder">Remove</button></td>
							</tr>
						{% endif %}
						{% if order.item2 %}
							<tr class="row{{order.id}}">
								<td>
									{{order.item2}}
								</td>
								<td>{{order.quantity2}}</td>
								{% if not order.item1 %}
									<td>{{order.price}}</td>
									
								{% endif %}
								<td><button data-id="{{order.id}}" class="btn btn-light removeorder">Remove</button></td>
							</tr>
							{% endif %}
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h1 class="card-title display-3">Your Cart is Empty</h1>
			<div class="card mb-3">
				<center>
					<img src="{% static 'orders/emptycart.gif' %}" class="card-img-top" alt="..." style="height:400px; width:200px;">
				</center>
			</div>
		{% endif %}
		<div class="container" id="cartdiv2">
			{% if address %}
				<h1 class="card-title display-4">Deliver to</h1>
				<div class="form-group">
					<div class="card" style="width: 18rem;">
						<img src="{% static 'orders/deliver.jpg' %}" class="card-img-top" alt="...">
  						<div class="card-body">
    						<h5 class="card-title">Address:</h5>
    						<p class="card-text">
    							{{user.add1}}<br>
								{{user.add2}}<br>
								{{user.city}}<br>
								{{user.state}}<br>
								{{user.zipcode}}<br>
								Contact: {{user.contact}}
							</p>
    						<a href="{% url 'change_add' %}" id="change_add" class="btn btn-info">Change Address</a>
  						</div>
					</div>
				</div>
				{% if orders %}
					<div class="form-group">
					    <div class="form-check">
					    	<input class="form-check-input" checked type="checkbox" id="gridCheck">
						    <label class="form-check-label" for="gridCheck">Pay on Delivery</label>
						</div>
						<a href="{% url 'your_orders' 'yes'%}" id="confirm_order" class="btn btn-outline-success">Confirm Order</a>
					</div>
				{% endif %}
			{% else %}
				<h2>Delivery Address</h2>
				<form method="post" action="{% url 'add_address' %}">
					{% csrf_token %}
					<div class="form-group">
					    <label for="inputAddress">Address line 1</label>
					    <input type="text" name="add1" required class="form-control" id="inputAddress" placeholder="1234 Main St">
					</div>
					<div class="form-group">
					    <label for="inputAddress2">Address line 2</label>
					    <input type="text" name="add2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
					</div>
					<div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="inputCity">City</label>
					      <input type="text" name="city" required class="form-control" id="inputCity">
					    </div>
					    <div class="form-group col-md-6">
					      <label for="inputCity">State</label>
					      <input type="text" name="state" class="form-control" id="inputState">
					    </div>
					    <div class="form-group col-md-2">
					      <label for="inputZip">Zip</label>
					      <input type="text" name="zip" required class="form-control" id="inputZip">
					    </div>
					    <div class="form-group col-md-2">
					      <label for="Phone">Phone no.</label>
					      <input type="text" name="contact" required class="form-control" id="contact">
					    </div>
					</div>
					<button type="submit" class="btn btn-primary">Add Address</button>
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}